<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Double Cloud Foundation Activities</title>
<meta name="keywords" content="Double Cloud Fund, Child and Mother, Child, Mother, aid, help, charity, donation">
<style type="text/css">
body {
	background-color: #FFFFFF;
	background-image: url();
}
body,td,th {
	font-size: 22px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #F7F7F7;
}
	</style>
<link href="styles.css" rel="stylesheet" type="text/css">
<link href="navigation.css" rel="stylesheet" type="text/css">
<link href="footer.css" rel="stylesheet" type="text/css">
</head>

<body>
<center>
  <a href="index.html"><img src="assets/Double Cloud Foundation Banner 5.jpg" width="1400" height="140" alt=""/></a>
</center>
<p> <center>
  <p class="navigation_text"><a href="index.html">Home</a> - <a href="About Us.html">About Us</a> - <a href="Child.html">Child</a> - <a href="Mother.html">Mother</a> - <a href="Donation.html">Donation</a> - <a href="Activities.html">Activities</a></p> 
   </center>
<hr>
<body>
<center>
<iframe src="https://www.youtube.com/embed/FjHHzE8JeuY?start=4&end=40"
width="1120" height="520" frameborder="0" frameborder="1">
<p class="body_text">&nbsp;</p>
<p>&nbsp;</p>
</iframe>
</center>
<footer class="footer_text">Copyright 2018-2020 Double Cloud Foundation</footer>
</body>
</html>
